
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #ebebeb;
    width: 100%;
}


nav {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background: #07570eb0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
    }
nav .logo a{
    font-size: 30px;
    color: #07570eb0;
    text-decoration: none;
    font-weight: 500;
    padding: 0 50px;
}
.buscador{
    list-style: none;
    display: flex;
    padding: 0;
    width: 100%;
    height: 138px;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.logo img{
    height: 100px;
}
.buscador {
    list-style: none;
    display: flex;
    padding: 0;
    width: 100%;
    background: white;
    height: 138px;
    justify-content: center;
    align-items: center;
}
.buscador li{
    display: inline-block;
    text-align: center;
    padding: 6px 14px;
}

.buscador input{
    width: 300px;
    background: #e7e7e7;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 6px ;
    margin: 0 0 0 50px;
}

.iconos {
    width: 250px;
    margin: 0 0 0 50px;
}
.iconos .inicio {
    margin: 44px 6px;
    width: 50px;
    display: inline-flex;
    height: 50px;
    background: #e7e7e7;
    border-radius: 50%;
    transition: 0.5s;
}
.inicio a{
    height: 100%;
}

.iconos .inicio:hover{

    background: #07570eb0;
    transition: 0.5s;
    color: #fcfcfc;
    
}

.inicio :hover i {
    color: white;
    transition: 0.5s;
}

.fa-user{
    color:#000000;
    font-size: 25px;
    margin: 12px 14px;
    width: 60px;
    height: 50px;
    transition: 0.5s;
}

.fa-cart-shopping{
    color:#000000;
    font-size: 25px;
    margin: 12px 14px;
    width: 60px;
    height: 50px;
    transition: 0.5s;
}

.fa-door-open{
    color:#000000;
    font-size: 25px;
    margin: 12px 12px;
    width: 60px;
    height: 50px;
    transition: 0.5s;
}

.menu{
    
    list-style: none;
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: fit-content;
    align-items: center;
    margin: auto;
    font-weight: 600;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    transition: all .3s;
    
}
.menu li{
    display: inline-block;
    text-align: center;
    padding: 6px 14px;
}

.menu li a:hover{
    color: #bdbd04;
    transition: all .3s;
}

.submenu{
    position: absolute;
    display: none;
    transition: 0.5s;
}
.submenu li{
    background: #07570eb0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 100%;


}
.submenu li a{
    display: block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
}
.menu li:hover .submenu{
    display: block;
    transition: 1.5s;
}

.catalogo {
    width: 80%;
    display: flex;
    background: #ebebeb;
    justify-content: center;
    padding: 0 20px;
    margin: auto;
    margin-block-end: 40px;
}

.filtro{
    background: white;
    flex-direction: column;
    color: rgb(0, 0, 0);
    height:1200px;
    padding: 30px;
    border-radius: 2px;
    margin: 0 10px 0 30px;
}

.filtrar{
    border-block-end: 1px solid #ebebeb;
}

.filtrar h2{
    margin: 10 0 10px 0;
}

.Departamento{
    margin: 10px 150px 20px 0px;
    border-block-end: 1px solid #ebebeb;
    padding: 0px 0px 28px 0;
    width: 100%;
}
.Categoria{
    margin: 10px 150px 20px 0px;
    border-block-end: 1px solid #ebebeb;
    padding: 0px 0px 28px 0;
    width: 100%;
}
.Sub-Categoria{
    margin: 10px 150px 20px 0px;
    width: 100%;
}


.Departamento input{
    accent-color: #07570eb0;
    font-size: 20px;
    padding: 10px;
}

.Categoria input{
    accent-color:#07570eb0;
    padding: 10px;
}

.Sub-Categoria input{
    accent-color: #07570eb0;
    padding: 10px;
}
input[type="checkbox" i] {
    cursor: pointer;
    margin: 0 11px 0 0;
}

.cargar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnmas {
    width: 40%;
    height: 40px;
    margin: 10px 0;
    background: #07570eb0;
    font-weight: 800;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.checkon{
    display: flex;
    align-items: center;
    margin: 20px 6px 0 20px;
}



.cards{
    width: 85%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0  0 0 80px;
    
    
}

.card{
    width: 300px;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    border: 1px solid #dddbdb;
    transition: all .2s;
}

.card:hover{
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}



.card .info{
    margin: 40px 20px;
    
}

.card img{
    width: 100%;
    height: 350px;
}

.card h5{
    color:#07570eb0 ;
}

.card h2{
    font-size: 16px;
}

.card h3{
    color:#07570eb0;
    margin: 10px 0;
}

.cardmas{
    width: 300px;
    display: none;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    border: 1px solid #dddbdb;
    
}
.cardmas .info{
    margin: 40px 20px;
    
}
.cardmas img{
    width: 100%;
    height: 350px;
}
.cardmas h5{
    color:#07570eb0;
}

.cardmas h2{
    font-size: 16px;
}

.cardmas h3{
    color:#07570eb0 ;
    margin: 10px 0;
}

.btn1{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background: #07570eb0;
    font-weight: 800;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn1:hover{
    background: #bdbd04;
    border: none;
    transition: 0.5s;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.2);

}
.btn2{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background: #ffffff;
    font-weight: 800;
    color: #07570eb0;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: 1px solid #07570eb0;
    cursor: pointer;
    transition: 0.5s;
}

.btn2:hover{
    background: #07570eb0;
    border: none;
    color: white;
    transition: 0.5s;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.2);

}

.no-productos{
    text-align: center;
    border: 1px solid #07570eb0;
    color: #07570eb0;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    display: none;
}



.slider {
    width: 85%;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
    background: #ebebeb;
}
.slider ul {
    display: flex;
    padding: 0;
}
.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 500px;
}

.pie-pagina{
    width: 100%;
    background-color: white;
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 a{
  
    text-decoration: none;
    color: black;
    transition: all .3s;
}

.pie-pagina .grupo-1 a:hover{
  
    text-decoration: none;
    color: #07570eb0 ;
    transition: all .3s;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: black;
        margin-right: 10px;
        background-color: #07570eb0;
        text-align: center;
        transition: all 300ms ease;
    
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #07570eb0;
    background: #bdbd04;
    
}
.pie-pagina .grupo-2{
    background: #07570eb0;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.recorrido {
    margin: 40px 240px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.recorrido a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

.recorrido a:hover {
    color: #bdbd04;
    transition: all .3s;
}

.recorrido h4 {
    margin: 0 10px;
    color: #07570eb0;
    font-size: 13px;
    transition: all .3s;
}

.alert-opacity {
    position: fixed;
    background: #00000087;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.carrito{
    background: white;
}

.encabezado{
    display: flex;
    box-shadow: 0px -1px 20px rgb(0 0 0 / 20%);
    width: 100%;
    padding: 10px;
    align-items: center;
}

.encabezado .fa-solid:hover {
    cursor: pointer;
    transition: all .3s;
}

.encabezado .fa-solid:hover {
    color: red;
    cursor: pointer;
    transition: all .3s;
}

.carrito .titulo-carrito{
    width: 80%;
    font-size: 25px;
    font-weight: 600 ;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cero{
    padding: 30px 40px 70px;
    text-align: center;
    color: gray;
}

.compra1{
    display: flex;
    align-items: center;
    padding: 20px;
}

.compra1 .info{
    width: 40%;
}


.compra1 img{
    width: 70px;
    height: 70px;
    margin: 0 20px 0 0;
    border-radius: 6px;
    border: 1px solid #dadada;
}

.compra1 .precio{
    margin: 0 40px;
    color: #07570eb0;
    font-weight: 600;
}
.compra1 .precio h4{
    display: contents;
    margin-right: 5px;
}
.compra1 .precio label{
    color: #000000;
    font-weight: 400;
}
.compra1 .precio input{
    width: 30px;
}


.compra1 .fa-solid:hover {
    color: red;
    cursor: pointer;
    transition: all .3s;
}

.carrito .subtotal{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.subtotal .total{
    background: #dfdfdf;
    width: 70%;
    padding: 20px 30px;
    border-radius: 7px;
}

.boton-comprar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.btn-pedido{
    background: #07570eb0;
    color: white;
    border-radius: 6px;
    padding: 20px 30px;
    width: 70%;
    font-size: 15px;
    font-weight: 600 ;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all .3s;

}

.btn-pedido:hover{
    background: #bdbd04;
    cursor: pointer;
    transition: all .3s;
}

#pro1{
    display: none;
}
#pro2{
    display: none;
}
#pro3{
    display: none;
}
#pro4{
    display: none;
}
#pro5{
    display: none;
}
#pro6{
    display: none;
}
#pro7{
    display: none;
}
#pro8{
    display: none;
}
#pro9{
    display: none;
}
#pro10{
    display: none;
}
#pro11{
    display: none;
}




